.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.github-button {
  padding: 10px 15px;
}
.site-button {
  padding: 10px 15px;
}
@media screen and (max-width: 530px) {
  .header-container {
    gap: 20px;
  }
  .github-button {
    font-size: 15px;
    padding: 10px 15px;
  }
  .site-button {
    display: none;
  }
}
