.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.github-button {
  background-color: red;
}

@media screen and (max-width: 530px) {
  .header-container {
    gap:20px;
  }
}

