.home-page {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  color: white;
}

@media screen and (max-width: 1000px) {
  .home-page {
    padding-left: 30px;
    padding-right: 30px;
    margin: initial;
  }
}
